
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model EticaretV1.UI.Areas.Admin.Models.AppUserDTO

<form action="/Admin/AppUser/Update" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="UserName">Kullanıcı Adı</label>
        <input type="text" name="UserName" value="@Model.UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Password">Şifre</label>
        <input type="text" name="Password" value="@Model.Password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" name="Email" value="@Model.Email" class="form-control" />
    </div>
   
    <div class="form-group">
        <label for="Adress">Adres</label>
        <input type="text" name="Adress" value="@Model.Address" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Role">Rol</label>
        <select name="Role" class="form-control">
            @foreach (var item in Enum.GetNames(typeof(EticaretV1.Model.Option.Role)))
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Image">Fotoğraf Seçiniz</label>
        <input type="file" name="Image" class="form-control" />
    </div>
    @Html.HiddenFor(x => x.Id)
    <input type="submit" value="Güncelle" class="form-control btn btn-primary" />
</form>

