
@{
    ViewBag.Title = "ApprovedProducts";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<EticaretV1.Model.Option.Product>

<div class="col-md-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Kullanıcı</th>
                <th>Fiyat</th>
                <th>Stok miktarı</th>
                <th>Birim</th>
                <th>Statü</th>
                <th>Fotoğraf</th>
                <th colspan="1">Kaldır</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.AppUser.UserName</td>
                    <td>@item.Price</td>
                    <td>@item.UnitsInStock</td>
                    <td>@item.Quantity</td>
                    <td>@item.Status</td>
                    <td><img src="@item.ImagePath" style="display:block" width="30" height="30" /></td>
                    <td>
                   
                        <a href="/Admin/Product/Delete/@item.Id">Kaldır</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



